{% extends "base.html" %}

{% block title %}Diagnose Disease{% endblock %}

{% block content %}

    <!-- Top Navigation Bar -->
    <div class="top-nav">
        <a href="/">Home</a>

    </div>
    
<section class="image-grid">
    <div class="image-grid-item">
        <a href="chronic">
            <img src="static/imgs/Chronic_Diseases.jpg" alt="Image 1">
            <p>Chronic Disease</p>
        </a>
    </div>
    <div class="image-grid-item">
        <a href="medlabs">
            <img src="static/imgs/Lab_Testing.jpg" alt="Image 2">
            <p>MedLab Diagnosis</p>
        </a>
    </div>
    <div class="image-grid-item">
        <a href="recommendation">
            <img src="static/imgs/Chronic_Diseases.jpg" alt="Image 4">
            <p>Recommendations</p>
        </a>
    </div>
</section>
{% endblock %}
