<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Diagnose Disease</title>
</head>
<body class="font-Poppins" bgcolor="black">
  <!-- Header -->
  <header>
    <nav class="container flex items-center py-4 mt-4 sm:mt-12">
      <ul class="hidden sm:flex flex-1 justify-between lg\:items-end gap-12 text-gold uppercase text-xs">
        <li class="cursor-pointer font-bold text-center" style="font-size:50px;width:100%;">Disease Prediction System</li>
      </ul>
      <div class="flex sm:hidden flex-1 justify-end">
        <i class="text-3xl fas fa-bars"></i>
      </div>
    </nav>
  </header>

  <!-- Diagnosed Disease Information -->
  <section class="py-20 mt-20">
    <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
      <h1 class="text-3xl text-center text-gold">Diagnosed Disease</h1>
      <p class="text-white text-lg text-center mt-4">The diagnosis results will be displayed here.</p>
      <!-- Add more content as needed -->
    </div>
  </section>

  <script>
    // Any JavaScript needed for this page
  </script>
</body>
</html>
