{% extends "base.html" %}

{% block title %}Disease Trajectories{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Disease Trajectories</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="plot-container">
                {% if html %}
                    {{ html | safe }}
                {% else %}
                <div class="alert alert-success text-center" role="alert" style="font-size: 1.5rem; font-weight: bold;">
                    The Disease Trajectories is unavailible for this patient
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


