{% extends "base.html" %}

{% block title %}Diagnose Disease{% endblock %}

{% block content %}
    <!-- Top Navigation Bar -->
    <div class="top-nav">
        <a href="/">Home</a>
        <a href="chronic">Chronic Disease</a>
        <a href="medlabs">MedLab Diagnosis</a>
        <a href="recommendation">Recommendations</a> 
        <!-- use the proper name if required later -->
    </div>



    <div class="menu-container">
        <!-- Disease Menu -->
        <div class="menu">
            {% for name in names %}
            <div class="menu-header" onclick="toggleMenu('disease-menu-{{ loop.index }}')">{{name}}</div>
            <div id="disease-menu-{{ loop.index }}" class="menu-content">
                
                <!-- Procedures Submenu -->
                <div class="submenu">
                    <div class="submenu-header" onclick="toggleSubmenu('procedures-menu-{{ loop.index }}')">Procedures</div>
                    <div id="procedures-menu-{{ loop.index }}" class="submenu-content">
                        {% if procedure[name] %}
                            {% for procedure in procedure[name] %}
                            <p>{{procedure}}</p>
                            {% endfor %}
                        {% else %}
                            <p>No feature Importance data available.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="submenu">
                    <div class="submenu-header" onclick="toggleSubmenu('surgeries-menu-{{ loop.index }}')">Surgeries</div>
                    <div id="surgeries-menu-{{ loop.index }}" class="submenu-content">
                        {% if surgeries[name] %}
                            {% for surgery in surgeries[name] %}
                            <p>{{surgery}}</p>
                            {% endfor %}
                        {% else %}
                            <p>No surgery data available.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="submenu">
                    <div class="submenu-header" onclick="toggleSubmenu('lifestyle-menu-{{ loop.index }}')">Lifestyle Changes</div>
                    <div id="lifestyle-menu-{{ loop.index }}" class="submenu-content">
                        {% if lifestyle[name] %}
                            {% for lifestyle in lifestyle[name] %}
                            <p>{{lifestyle}}</p>
                            {% endfor %}
                        {% else %}
                            <p>No Lifestyle Changes available.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="submenu">
                    <div class="submenu-header" onclick="toggleSubmenu('labs-menu-{{ loop.index }}')">Labs</div>
                    <div id="labs-menu-{{ loop.index }}" class="submenu-content">
                        {% if lab[name] %}
                            {% for lab in lab[name] %}
                            <p>{{lab}}</p>
                            {% endfor %}
                        {% else %}
                            <p>No Labs data available.</p>
                        {% endif %}
                    </div>
                </div>


            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

        
            // Disease Menu and Submenu Handling
            function toggleMenu(menuId) {
                const menu = document.getElementById(menuId);
                menu.classList.toggle('show');
            }
        
            function toggleSubmenu(submenuId) {
                const submenu = document.getElementById(submenuId);
                submenu.classList.toggle('show');
            }
        
            // Event Listeners for Disease Menu and Submenus
            const diseaseMenuHeaders = document.querySelectorAll('.menu-header');
            diseaseMenuHeaders.forEach(header => {
                header.addEventListener('click', function () {
                    const menuId = this.nextElementSibling.id;
                    toggleMenu(menuId);
                });
            });
        
            const submenuHeaders = document.querySelectorAll('.submenu-header');
            submenuHeaders.forEach(submenuHeader => {
                submenuHeader.addEventListener('click', function () {
                    const submenuId = this.nextElementSibling.id;
                    toggleSubmenu(submenuId);
                });
            });
        });
    </script>

{% endblock %}